.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-container {
  /* border: 1px solid #fff; */
  align-items: start;
}

.container .sub-container input {
  padding: 6px 12px;
  margin: 10px;
}

.container .sub-container button {
  padding: 6px;
}

.sub-container .todo {
  padding: 12px;
  margin-top: 22px;
  border: 1px solid #fff;
}

.sub-container .todo .todo-list div {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.sub-container .todo .todo-list button {
  padding: 4px;
  margin: 6px;
}

.sub-container .todo ul li {
  list-style: none;
}